* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 24px;
}
header{
  height: 105px;
}
header h1 {
  position: absolute;
  left: 5%;
  top: 0;
  line-height:105px;
}
header img {
  position: absolute;
  right: 5%;
  top: 0;
}
nav {
  background-color: black;
  padding: 1em 5% 1em 0;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
nav li {
  list-style: none;
  padding-left: 1em;
}
nav a {
  color: white;
  text-decoration: none;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5% 0 5%;
}
article {
  width: 60%;
}
aside {
  width: 35%;
  background-color: saddlebrown;
}
footer {
  background-color: brown;
  height: 4em;
}
.cross-page-quote {
  background-color: grey;
  height: 4em;
}