body {
    font-size: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.48;
}

h1, h2 {
    font-weight: normal;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

nav li {
    background-color: #483d8b;
    text-align: center;
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    color: white;
    cursor: pointer;
}

nav li:hover a {
    color: red;
}

article figure {
    background-color: #f1f4f4;
    border: 1px solid #eaeaea;
    font-style: italic;
    box-shadow: 2px 2px 2px #999;
    font-size: .9rem;
}

aside img {
    box-shadow: 2px 2px 2px #999;
}

footer {
    font-style: italic;
    background-color: #8b0000;
    color: #ffffff;
    text-align: center;
}