body {
    font-family: "Open Sans", sans-serif;
    padding: 0 1em;
    background-color: darkblue;
}

h1, h2, h3, h4 {
    font-family: "Gentium Basic", serif;
    color: white;
}

#output {
    font-family: "Roboto Mono", monospace;
    background: white;
    padding: 1em;
    min-height: 16px;
}

#output div {
    margin-bottom: 1em;
}