* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

main {
    display: flex;
}

div#results {
    width: 66%;
}

.controls button {
    display: block;
    margin-bottom: 1em;
    padding: .5em;
    font-size: 16px;
    background-color: #c4c6c9;
    width: 6em;
    height: 3em;
}

button, #clear-link {
    cursor: pointer;
}

#results strong {
    font-weight: 600;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 12px;
    margin-bottom: 1em;
}

header, main {
    padding: 1em 2em;
}

header {
    background-color: #430000;
    color: #fffbf5;
}

ul, li {
    list-style: none;
}

li {
    margin-bottom: 1em;
}

.controls button:hover {
    background-color: #e5e7ea;
}